/*Every <p> element will get this styling*/
p {
    color:mediumblue;
    text-align: center; 
}

/*Every element with an id of "radioContainer" will get this styling*/
#radioContainer{
    border: double 6px pink;
    border-radius: 25px;
    padding:30px /*padding gives us space between content and border*/
}

/*Every element with a class of "list" will get these styles*/
.list{
    background-color: bisque;
    color:blueviolet;
    font-family:monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    margin:100px /*Margin makes space between an element and its neighbors*/
}

/*EVERY ELEMENT will get this style*/
*{
    background-color:lightgreen;
}

/*using flexbox on the radio container class. Flexbox is an easy and modern way to format elements and make them more responsive!!*/
#radioContainer{
    display:flex; /*turns the element into a flexbox which let us do stuff like this:*/
    flex-direction: column;
    align-items: center;
    gap: 25px;
}